{# If this template is modified and any variables are added/removed
you MUST update the vmnet_uuid definition in vars to regenerate a new UUID
-#}
<network>
  <name>{{ vmhost_network_name }}</name>
  <uuid>{{ __vmnet_placeholder_uuid }}</uuid>
  <forward mode="bridge">
    <interface dev="{{ vmhost_ethernet_interface }}" mode="bridge"/>
  </forward>
</network>