<network>
  <name>{{ host_vm_network_name }}</name>
  <uuid>f02329bb-7575-47cc-b5b0-53669925480d</uuid>
  <forward mode="bridge">
    <interface dev="{{ host_ethernet_interface }}" mode="bridge"/>
  </forward>
</network>